.timeline-item-experience {
  text-align: start;
  box-sizing: border-box;
}
.MuiTimelineOppositeContent-root {
  max-width: 240px;
}
h3, h5 {
  margin: 0;
}

@media (max-width: 430px) {
  .MuiTimelineOppositeContent-root {
    max-width: 90px;
    box-sizing: border-box;
  }
}