@import '../../../theme/colors';

.App-banner {
  display: flex;
  flex-direction: row;
  padding-top: 80px;
  max-width: 1024px;
  margin: 0 auto;
  justify-content: center;
  padding-left: 40px;
  padding-right: 40px;

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
  }

}


.me-pic {
  width: 200px;
  height: 200px;
  margin: auto;
  background-image: url(../../../assets/me.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 28% 50%;
  border-radius: 30px;
}

.skills-card {

  .MuiCardHeader-title {
    font-weight: 600;
  }
}