h4, h6 {
  margin-top: 0;
  margin-bottom: 0;
}

.achievements {
  text-align: start;
  padding-inline-start: 20px;
  margin-top: 6px;
  li {
    font-size: 15px;
    margin-bottom: 6px;
  }
}

.side-experience {
  > h2 {
    margin-bottom: 0;
    font-size: 2em;
    & ~ small {
      display: block;
      margin-bottom: 10px;
    }
  }
}