.service-col {
  > .MuiPaper-root {
    height: 432px;
  }
}
.MuiChip-root {
  margin-bottom: 6px !important;
}


@media (max-width: 1020px) {
  .expand-site-btn {
    display: none !important;
  }
  .service-col {
    margin-bottom: 20px;
    > .MuiPaper-root {
      height: 370px;
    }
  }
}
