.AlgorithmCard {
  &.MuiPaper-root {
    color: #4B6482;
  }

  .MuiCardHeader-root {
    text-align: left;
    .question-preview {
      p {
        margin:0;
      }
    }
  }

  .MuiCardHeader-avatar {
    margin: 0;
    margin-left: -12px;
    margin-right: 4px;
  }
  .MuiCardHeader-content {
    overflow: hidden;
  }
}