@import '../../../theme/colors.scss';

.AlgorithmCard {
  cursor: pointer;

  &.MuiPaper-root {
    color: $primary_color;
  }

  .MuiCardHeader-root {
    text-align: left;
    padding-bottom: 0;
    .question-preview {
      p {
        margin:0;
      }
    }
  }

  .MuiCardHeader-avatar {
    margin: 0;
    margin-left: -12px;
    margin-right: 4px;
  }
  .MuiCardHeader-content {
    overflow: hidden;
  }
}