@import '../../../theme/colors.scss';

.MuiChip-root {
  background-color: $primary_color !important;
  color: white !important;
  font-weight: bold;
  margin: 0 5px;
  background-image: linear-gradient(145deg, $primary_color 50%, #41b883);
}