@import './colors';

@mixin section($color) {
    display: flex;
    padding-top: 40px;
    padding-bottom: 20px;
    position: relative;
    overflow: hidden;
    h1 {
        font-size: 3em;
    }
    :is(h1,h2) ~ small {
        display: block;
        margin-bottom: 20px;
    }
}

@mixin content {
    padding: 10% 5%;
    max-width: 1024px;
    // border: solid 1px black;
}

@mixin navigation($fixed) {
    // background-color: $primary_color;

    @if ($fixed==true) {
        position: fixed;
		top: 10px;
		opacity: 1;
    }

    @else {
        position: absolute;
		bottom: 0;
		opacity: 0;
    }

	display: flex;
    z-index: 1000;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    box-sizing: border-box;
    padding: 0 20px;

    .App-navigation-container {
        max-width: 1024px;
        display: block;
        padding: 8px 16px;
        width: inherit;

        >a {
            float: left;
        }

        >ul {
            float: right;
            display: flex;
            justify-content: space-evenly;
            margin: 8px 0.5rem;
            padding: 0;

            >li {
                font-size: 0.9rem;
                display: block;
				// margin-right: 7px;
				padding-left: 10px;
				padding-right: 10px;

                >a {
                    color: white;
                    text-decoration: none;
                }
            }
        }

        >button {

            float: right;
            background: inherit;
            border: none;
            outline: 0;
            padding: 1.5rem 1.5rem;
            margin-left: 5%;

            >img {
                width: 2rem;
            }
        }
    }
}