@import './colors';

@mixin section($color) {
    background-color: $color;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: black;

    @if ($color==$primary_color) {
        box-shadow: inset 0px 2px 100px black;
    }

    @else {
        box-shadow: inset 0px 2px 100px darkgray;
    }

    position: relative;
    overflow: hidden;
}