@import './colors';

@mixin section($color) {
    background-color: $color;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    // color: black;

    position: relative;
    overflow: hidden;
}

@mixin content {
    padding: 10% 5%;
    max-width: 1024px;
    border: solid 1px black;
}

@mixin navigation($fixed) {
    background-color: $primary_color;

    @if ($fixed==true) {
        position: fixed;
        top: 0;
    }

    @else {
        position: absolute;
        bottom: 0;
    }

    display: flex;
    z-index: 1000;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    box-shadow: 0px -5px 15px black,
    0px 2px 5px black;

    .App-navigation-container {
        max-width: 1200px;
        display: block;
        padding-left: 5px;
        padding-right: 5px;
        width: inherit;

        a {
            float: left;
        }

        ul {
            float: right;
            display: flex;
            justify-content: space-evenly;
            margin: 1.5rem 1rem 1.5rem;
            padding: 0;

            li {
                font-size: 1.2rem;
                display: block;
                margin-right: 7px;

                a {
                    color: $font-color;
                    text-decoration: none;
                }
            }
        }

        button {

            float: right;
            background: inherit;
            border: none;
            outline: 0;
            padding: 1.5rem 1.5rem;
            margin-left: 5%;

            img {
                width: 2rem;
            }
        }
    }
}