@keyframes bouncing-chip {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-5px);
  }
}

.bouncing-chip {
  animation-name: bouncing-chip;
  animation-duration: 400ms;
  animation-direction: alternate;
  animation-iteration-count: 30;
}