@import '../../theme/_colors.scss';

form {
    box-shadow: 0px 0px 5px black;
    padding: 1rem;

    .formInputs {
        max-width: 1000px;
        width: 100vmax;

        .formInput {
            position: relative;

            label {
                transition: all 0.3s ease-in-out;
            }

            label.initial {
                position: absolute;
                left: 0.5em;
                top: 0.355em;
            }

            label.error {
                color: red;
            }

            label.used {
                position: absolute;
                left: 0;
                top: -0.5em;
                transform: scale(0.7);
            }

            input {
                padding-left: 0.5em;
                height: 2rem;
                margin-bottom: 1rem;
                width: 100%;
            }

            input:focus {
                padding-left: 0.5em;
                border-color: red;
            }

            textarea {
                padding: 0.6em;
                resize: none;
                height: 8rem;
                width: 100%;
            }
        }

        @media screen and (max-width: 740px) {

            .formFirstPart {
                padding: 2%;
                width: 100%;
            }

            .formSecondPart {
                padding: 2%;
                width: 100%;
            }
        }

        @media screen and (min-width: 740px) {

            .formFirstPart {
                padding: 2%;
                width: 50%;
            }

            .formSecondPart {
                padding: 2%;
                width: 50%;
            }
        }


    }
}

input[type='submit'] {
    padding: 1% 2%;
    border: none;
    box-shadow: 0px 0px 5px black;
    background-color: $primary-color;
    border-radius: 5em;
}