.member-card {
    padding: 2% 0%;
    float: left;
    width: 100%;
    max-width: 400px;

    div {
        margin: 0% 2%;
    }

    .card-image {
        display: block;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
}


@media screen and (min-width: 764px) {
    .member-card {
        width: 33%;
    }
}