@import './theme/colors';
@import './theme/mixins';

.App {
  text-align: center;
  color: $font-color;
}

.App-logo {
  animation: App-logo-in 0.75s ease-in;
  height: 40vmin;
  position: absolute;
  left: 10%;
  top: 25%;
}

.App-laptop {
  height: 55vmin;
  position: absolute;
  left: -10%;
  top: -30%;
  transform: rotate(-10deg);
}

.App-menu-logo {
  float: left;
  margin-left: 5%;
  height: 4.5rem;
}


.App-header {
  @include section($primary_color);
}

.App-navigation.no-fixed {
  @include navigation(false);
}

.App-navigation.fixed {
  @include navigation(true);
}

@keyframes App-logo-in {
  0% {
    transform: scale(1.5);
    filter: blur(3px);
  }

  75% {
    transform: scale(0.75);
    filter: blur(2px);
  }

  100% {
    transform: scale(1);
    filter: blur(0px);
  }
}

.App-section:nth-child(odd) {
  @include section($primary_color);
}

.App-section:nth-child(even) {
  @include section($secundary_color);
  z-index: 2;
  box-shadow: 0px 4px 10px black,
    0px -4px 10px black;
}

.App-footer {
  @include section($primary_color);
  min-height: 20vh;
}

.App-content {
  @include content;
}