@import './theme/colors';
@import './theme/mixins';
@import "./theme/animations.scss";
@import "./theme/spaces.css";

//FIXME: remove after along with material ui 
body > iframe {
  display: none;
}

canvas.page-background {
  position: fixed;
  top: 0;
  left: 0;
  // width: 100vw;
  // height: 100vh;
  z-index: -1;
}

.App {
  text-align: center;
  color: white;
}

.App-section {
  @include section(white);
}

.App-footer {
  @include section($primary_color);
  min-height: 10vh;
}

.App-content {
  @include content;
}

.primary-color {
  color: $primary_color
}
.secondary-color {
  color: $secondary_color
}
.MuiPaper-rounded {
  border-radius: 16px !important;
}

.button-group--flat {
  > button {
    color: $secondary_color;
    text-transform: unset;

    &.MuiButton-outlined{
      border: 1px solid $secondary_color;
    }
  }
}

.MuiButton-outlined {
  color: $secondary_color !important;
  text-transform: unset !important;
  border: 1px solid $secondary_color !important;
}

.App .MuiPaper-root {
  color: $secondary_color;
  background-color: transparent;
  position: relative;

  &::before {
    content: " ";
    background-color: $primary_color;
    width: 100%;
    height: 100%;
    left: 0;
    filter: blur(60px);
    position: absolute;
    z-index: -1;
  }
}
