@import './theme/colors';
@import './theme/mixins';
@import "./theme/animations.scss";
@import "./theme/spaces.css";

.App {
  text-align: center;
  color: white;
}

.App-section {
  @include section(white);
}

.App-footer {
  @include section($primary_color);
  min-height: 10vh;
}

.App-content {
  @include content;
}

.primary-color {
  color: $primary_color
}
.secondary-color {
  color: $secondary_color
}
.MuiPaper-rounded {
  border-radius: 16px !important;
}

