body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, "OpenSans-Regular",BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #4B6482;
  position: relative;
}

body::before {
  content: "Let there be rock ✌️";
  margin: 0 auto;
  top: 69vh;
  left: 40vw;
  position: fixed;
  font-size: 40px;
  color: white;
}

a {
  color: white;
  text-decoration: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
