html {
  scroll-behavior: smooth;
}
body {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #3668a5;
  position: relative;
}

a.App-nav-link {
  color: white;
}
a {
  text-decoration: none;
}
img {
  width: 100%;
}
