@import "../../../theme/colors";

.book {
  margin-bottom: 10px;
  box-sizing: border-box;
  color: $primary_color !important;
  min-height: 110px;
  p {
    position: relative;
    margin: 0;
    font-size: smaller;
  }
  .title {
    margin-top: 10px;
  }

}